* { padding: 0;
    margin: 0;
    border: 0;}

*,
*:before,
*:after {-moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;}

:focus,
:active {outline: none;}

a:focus,
a:active { outline: none;}

nav,
footer,
header,
aside {display: block;}

html,
body {width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;}

input,
button,
textarea {font-family: inherit;}

input::-ms-clear {display: none;}

button { cursor: pointer;}

button::-moz-focus-inner { padding: 0;
    border: 0}

a,
a:visited {text-decoration: none;}

a:hover { text-decoration: none;}

ul li {list-style: none;}

img { vertical-align: top;}

h1,
h2,
h3,
h4,
h5,
h6 { font-size: inherit;
    font-weight: 400;}
/* -------------------------------------------------------------- */
:root{
    --main-text-color:#737373;/* Основной текст */
    --sub-main-text-color:#252B42;/* Основной заголовки и бек */
    --white-text-color:#FFFFFF;/*  Белый*/
    --green-text-color:#0D5C63;/* Зеленый */
    --fox-text-color:#FF7B47;/* Рыжый */
    --main-section-color:#FAFAFA;/* bg  underfoot*/
    --submain-section-color:#F3F3F3;/* get in tuch */
    --footer-color:#17213C;/* футер и сабскрайб */
}
body{
    height: 100%;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Montserrat',sans-serif;
    color:var(--main-text-color);
}
.wrapper{
    min-height: 100%;
    overflow: hidden;
    display: flex;/* Дали для тго, чтобы прибить футер книзу */
    flex-direction: column;/* Дали для тго, чтобы прибить футер книзу */
}
.container{
    max-width: 1046px;
    margin: 0 auto;
    padding: 0 15px;/* Дали сразу, чтобы при адаптиве не было прилипания */
    box-sizing: content-box;/* Перезаписали нулевые стили, для того, чтобы паддинг выше вышел за пределы контейнера */
}
.ibg{
    position: relative;
}
.ibg img{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* HEADER-------------------------------------------------------- */

.header {
    position: absolute;/* Дали это свойство для того, чтобы шапка надвисла над картинкой, которая бекграундом на две секции */
    left: 0;
    top: 0;
    width: 100%;
    z-index: 10;
}
.header-container {
    display: flex;
    min-height:104px;/* Высота шапки */
    align-items: center;
}
.header-logo {
    color:var(--sub-main-text-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0.1px;
}
.nav {
    margin-left: 132px;
}
.nav-list {
    display: flex;
    gap: 21px;
    flex-wrap: wrap;/* Можно дать для навигаци, чтообы при адаптиве она спускалась. Но спускается по одному, не очень хорошо ыглядит как по мне */
}
.nav-item a{
    color: inherit;
    font-weight: 600;
    line-height: 1.7;/* calc(24 / 14 * 100%) */
    letter-spacing: 0.2px;
}

@media (max-width:992px) {}

@media (max-width:767px) {
    .nav {
        margin-left: 80px;
    }
}

@media (max-width:470px) {
    .nav {
        margin-left: 40px;
    }

    .nav-item a {
        font-size: 18px;
    }

    .nav-list {
        gap: 10px;
    }
}
@media (max-width:464px) {
    .nav-item a {
        padding-left: 50px;
    }
    
}
@media (max-width:410px) {
    .nav-item a {
        padding-left: 20px;
    }

}
@media (max-width:350px) {
.nav {
    margin-left: 20px;
}
}
/* MAIN ---------------------------------------------------------------------*/

.main{
    flex: 1 1 auto;/* Дали для того, чтобы прибить футер книзу. Позволили увеличиваться */
    position: relative;/* Дали для того, чтобы привязать к нему картинку */
}


.main-container {
    padding: 184px 0 191px 0; 
    position: relative;/* Дали для того, чтобы вывести контент поверх абсолютной картинки */
    z-index: 2;/* Дали для того, чтобы вывести контент поверх абсолютной картинки */
}
.main-title,
.maintext{
    max-width: 400px;
}
.main-title {
    font-weight: 800;
    font-size: 58px;
    line-height: 1.3;
    letter-spacing: 0.2px;
    color:var(--sub-main-text-color);
}

.main-text {
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    padding: 35px 0;/* Вместо этого падднига можно сделать другую запись, только присвоиь ее контейнеру (main-container). Например, если у нас в мейне от каждого елемента вниз(вверз/вправо/влево) одинаковый отступ, то можно записать следующим образом:
.main-container > *:not(:last-child) {
    padding:0 0 35px 0; }
    Таким образом мы задали каждому елементу первой вложенности отступ вниз, кроме последнего*/
}

.btn{
    font-weight: 700;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 12px 36px;
    border-radius: 37px;
}
.main-btn1 {
    background-color: var(--fox-text-color);
    color: var(--white-text-color);
    margin-right: 10px;
}
.main-btn2 {
    color: var(--green-text-color);
    border: 1px solid var(--green-text-color);
}

.main-img {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
@media (max-width:1700px) {
    .main-img img{
        object-position: right;
    }
}
@media (max-width:992px) {
    .main-container{
        padding-left:15px
    }
    .main-img img {
        opacity: .4;
    }
}
@media (max-width:767px) {
    .main-img img {
        opacity: .3;
    }
}

@media (max-width:410px) {
    .main-title {
        
        font-size: 53px;
        
    }
}

/* Section 1 ----------------------------------------------------------------*/


.services { 
    position: relative;
    z-index: 1;
    margin: -111px 0 0 0;/* ТРИЦАТЕЛЬНЫМ МАРДЖИНОМ ПОДТЯНУЛИ БЛОКИ. Позиционирование не даст нужного результата, так как за блоками не будут подтягиваться нижние блоки */
}

.services-list {
    display: flex;
    gap: 30px;
}

.services-item {
    min-width: 328px;
    min-height: 242px;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
    padding: 35px 40px;
    background-color:  var(--white-text-color);
}
.services-item:last-child{
    background-color: var(--green-text-color);
    color: var(--white-text-color);
}
.services-item:last-child h3{
    color: var(--white-text-color);
}
.services-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0.1px;
    color: var(--sub-main-text-color);
    padding: 10px 0;
}
.services-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.2px;
}
@media (max-width:992px) {
   
    .services-item {
        min-width: 300px;
    }
}

@media (max-width:767px) {
    .services-list {
        display: block;
        width:100%;
        text-align: center;
    }
    .services-item {
        margin-bottom: 30px;
    }
}

@media (max-width:479px) {

}
/* SECTION 2 ----------------------------------------------------*/
.experience {
    margin: -131px 0 0 0;
    background-color: var(--main-section-color);
    padding: 211px 0 80px;
}

.block-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    text-align: center;
    color: var(--sub-main-text-color);
}

.block-text {
    width: 540px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
    letter-spacing: 0.2px;
    padding: 10px 0 50px;
}

.experience-list {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.experience-item {
    min-width: 241px;
    padding: 30px;
    text-align: center;
    background-color: var(--white-text-color);

}

.experience-subtitle {
    padding: 10px 0;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    color: var(--sub-main-text-color);
}

.experience-subtext {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
}
@media (max-width:992px) {
    .experience-item {
        min-width: 220px;
    }
   
}

@media (max-width:767px) {
    .experience-list {
        flex-wrap: wrap;
        
    }
    .experience-item{
        min-width: 360px;
        margin-bottom: 17px;
    }

}

@media (max-width:479px) {
    
    .experience-item {
        width: 100%;;
        margin-bottom: 17px;
    }
    .experience {
        padding: 121px 0 80px;
    }
    .block-text {
        max-width: 440px;
    }
}
@media (max-width:479px) {

    .block-text {
        width: 330px;
       
    }
}
/* SECTION 3---------------------------------------------------- */
.advices {
    padding: 50px 0 80px 0 ;
    background-color: var(--main-section-color);
}
.advices-text{
    padding-bottom: 45px;
}

.advices-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.advices-card {
    background-color: var(--white-text-color);
    width: 238px;
    display: flex;/* Дали чтобы прибить картинку книзу */
    flex-direction: column;/* Дали чтобы прибить картинку книзу */
}

.advices-top {
    padding: 30px;
    flex: 1 1 auto;/* Дали чтобы прибить картинку книзу */
}
.advices-subtitle{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: var(--sub-main-text-color);
    padding-bottom: 15px;
}
.advices-subtext{
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.2px;
}

 .card{
    width: 100%;
 }


@media (max-width:992px) {
.advices{
 padding-top: 0;
}
}
@media (max-width:767px) {
.advices-card {
    margin-bottom: 15px;
    width: 49%;  
}

}

@media (max-width:479px) {
   
}


/* SECTION 4 --------------------------------------------------*/

.about {
    padding: 100px 0;
}
.about-text {
    padding-bottom: 100px;
}

.about-row {
    display: flex;
    justify-content: space-between;
}
.about-video{
    width: 560px;
    height: 400px; 
}

.about-content {
    width: 333px;
}
.about-subtitle{
    font-weight: 700;
    font-size: 40px;
    line-height: 1.4;
    letter-spacing: 0.2px; 
    color: var(--sub-main-text-color);
}
.about-subtext{
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.2px;
    padding: 10px 0 30px 0;
}
.item {
    display: flex;
    justify-content: space-between;
}
.item p:first-child{
    font-weight: 700;
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    color: var(--sub-main-text-color);
    
}
.item p:nth-child(2){
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.2px;
    padding-bottom: 30px;
}
.about-img{
    margin-right: 20px;
    align-self: flex-start;
}

@media (max-width:992px) {
   
}

@media (max-width:767px) {
    .about-row {
        display: block; 
    }
   
}

@media (max-width:479px) {}

/* SECTION 5--------------------------------------------------- */

.clients {
    padding: 50px 0;
    background-color:var(--main-section-color);
}

.clients-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content:center;

}

.clients-logo {
    padding: 8px 15px;
    flex: 0 1 16.6666%;
    text-align: center; 
}

/* SECTION 6 *----------------------------------------------*/
 
.form {
    padding:20px 0;
    background-color:var(--main-section-color);
    position: relative;
}
.form::before{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 77px;
    left: 0;
    background-color:var(--sub-main-text-color);
}


.form-row {
    position: relative;
    z-index: 2;
    margin: 0 30px;
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    align-items: center;
    border-radius: 2px;
    background-color:var(--footer-color);
}

.form-title {
    max-width: 266px;
    color: var(--white-text-color);
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0.1px;
}

.form-form {
    display: flex;
    align-items: center;
    flex: 0 1 50%;
}

.form-input {
    flex: 1 1 auto;
    padding: 15px 0 15px 20px;
    border-radius: 5px 0 0 5px;
    background-color: #F9F9F9;
}

.form-button {
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    text-align: center;
    letter-spacing: 0.2px;
    color:var(--white-text-color);
    background-color: var(--fox-text-color);
    padding: 9px 22.5px;
    border-radius: 0 5px 5px 0;
}

@media (max-width:479px) {
    .form-row {
        display: block;
       margin: 0;
    }
    .form-title {
        margin-bottom: 10px;
    }
    
}
@media (max-width:440px) {
    .form-container{
        max-width: 100%;
        padding: 0;
    }
    .form-input {
        padding: 15px 0 15px 10px;
       
    }

}
/* SECTION 7 */

.touch {
    padding: 80px 0;
    background-color:var(--main-section-color);
}
.touch-text {
    padding-bottom: 80px;
}
.touch-list {
    margin: 0 30px;
    display: flex;
    align-items: center;
}
.touch-item {
    flex: 0 1 33.333%;
    background-color:var(--white-text-color);
    padding: 50px 53px ;
    text-align: center;
}

.touch-item>*:not(:last-child,.two) {
    padding: 0 0 15px 0;
}
.middle{
    background-color:var(--sub-main-text-color);
    padding: 80px 53px;
}
.middle a{
    color: var(--white-text-color);
}
.end{
    align-self:center;
}
.touch-link {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    text-align: center;
    letter-spacing: 0.2px;
    color:var(--sub-main-text-color);
}
.touch-subtitle {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.1px;
    color:var(--sub-main-text-color);
}
.middle .touch-subtitle {
    color: var(--white-text-color);
}
.touch-btn {
    padding: 10px 20px;
    color: var(--fox-text-color);
    border: 1px solid var(--fox-text-color);
    border-radius: 5px;
    background-color:var(--white-text-color);
}
.middle .touch-btn {
    padding: 10px 20px;
    color: var(--white-text-color);
    border: 1px solid var(--white-text-color);
    border-radius: 5px;
    background-color:var(--sub-main-text-color);
}
@media (max-width:992px) {
   
    .touch-list {
       display: block;
    }
    .touch-item {
        width: 100%;
    }
}
/* SECTION 8 */
.contact {
    padding: 40px 0;
}
.contact-container{
    display: flex;
    justify-content:space-between;
}


.contact-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.3;
    letter-spacing: 0.1px; 
    color: var(--sub-main-text-color);
    padding-bottom: 10px;
}

.contact-text {
    font-size: 14px;
    line-height: 1.4;
    letter-spacing: 0.2px;
}

.contact-btn {
   align-self:center;
   padding: 12px 40px;
   background-color:var(--fox-text-color);
   color:var(--white-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height:2;
    letter-spacing: 0.2px;
    border-radius: 5px;
}

@media (max-width:992px) {

.contact-container {
   justify-content: space-around;
}
}
@media (max-width:767px) {
   

}

@media (max-width:479px) {
    .contact-container {
        display: block;
        text-align: center;
    }
    .contact-text {
        padding-bottom: 10px;
    }
}
/*Footer-------------------------------------------------------*/

.footer-top {
    background-color:var(--footer-color);
    color: var(--white-text-color);
    padding: 50px 0;
}

.footer-list {
    display: flex;
    gap: 78px;
}
.footer-item a{
    display: block;
    color: var(--white-text-color);
    background-image: url(..//img/footicon1.svg);
    background-repeat: no-repeat;
    padding-left: 35px;
}
.footer-item a:nth-child(3){
    background-image: url(..//img/footicon2.svg);
}
.footer-item a:nth-child(4) {
    background-image: url(..//img/footicon3.svg);
}
.footer-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.1px;
    padding-bottom: 20px;
}

.footer-text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.2px;
}
.footer-text:not(:last-child){
    padding-bottom: 10px;
}
.footer-bottom-container{
display: flex;
justify-content: space-between;
}
.footer-bottom{
    background-color:var(--white-text-color);
    padding: 25px 0;
}
.fotter-bottom-text{
    font-weight: 600;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.2px;
}
.footer-icons{
    align-items: center;
}
.footer-icons a {
    margin-left: 20px;
}
@media (max-width:992px) {

    .footer-bottom-container {
        justify-content: space-around;
    }
}

@media (max-width:767px) {

}

@media (max-width:479px) {
    .footer-list {
        flex-wrap: wrap;
        justify-content: space-around;
        text-align: center;

    }
    .footer-icons a {
        display: inline-block;
        margin-left: 40px;
        margin-bottom: 10px;
    }
}